doctype html
html
  head
    title= title
    link(rel='stylesheet', href='static/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='static/stylesheets/style.css')
  body
    script(type="text/javascript",src="static/react/dist/main.js")